docker-nodered/flows.json
[{"id":"c316c9fe.df0658","type":"tab","label":"Do your Task here","disabled":false,"info":"myhashedsecret"},{"id":"94975485.1a0a98","type":"tab","label":"Use this as playground","disabled":false,"info":""},{"id":"d628480b.059e98","type":"uibuilder","z":"c316c9fe.df0658","name":"","topic":"","url":"ml5_train","fwdInMessages":false,"allowScripts":false,"allowStyles":false,"copyIndex":true,"showfolder":false,"x":280,"y":60,"wires":[["2e8b6fec.10c69","540f7e79.a2ea8","4833d854.b88de8"],[]]},{"id":"2e8b6fec.10c69","type":"debug","z":"c316c9fe.df0658","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":490,"y":80,"wires":[]},{"id":"7bc5df83.7c9c9","type":"uibuilder","z":"c316c9fe.df0658","name":"","topic":"","url":"ml5","fwdInMessages":false,"allowScripts":false,"allowStyles":false,"copyIndex":true,"showfolder":false,"x":290,"y":560,"wires":[["6b9a2793.cd18e8"],[]]},{"id":"6b9a2793.cd18e8","type":"debug","z":"c316c9fe.df0658","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":510,"y":580,"wires":[]},{"id":"748199fa.899f18","type":"uibuilder","z":"c316c9fe.df0658","name":"","topic":"","url":"pose","fwdInMessages":false,"allowScripts":false,"allowStyles":false,"copyIndex":true,"showfolder":false,"x":290,"y":660,"wires":[["9316b7.d5d9f948"],[]]},{"id":"9316b7.d5d9f948","type":"debug","z":"c316c9fe.df0658","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":510,"y":680,"wires":[]},{"id":"5b7611da.f343e","type":"comment","z":"c316c9fe.df0658","name":"Comment (below nodes are optional)","info":"This nodes are optional and for future purpose or for exploring other possibilities with ml5.js","x":180,"y":480,"wires":[]},{"id":"540f7e79.a2ea8","type":"function","z":"c316c9fe.df0658","name":"YOUR CODE HERE","func":"result = msg.payload;\nmsg.payload = 999;// Default\n// -------------------------------------------------\n// you can use check\n// result.confidence --> is a number between 0 and 1\n// result.label --> is a string\n//<---- EDIT BELOW ---->\n// if (result.confidence) {\n// msg.payload = 666;\n//}....\n//<---- EDIT ABOVE ---->\n// -------------------------------------------------\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":160,"wires":[[]]},{"id":"bdff2b00.efc188","type":"ui_chart","z":"c316c9fe.df0658","name":"confidence of most propable class","group":"e49c42b1.2c9b5","order":5,"width":"0","height":"0","label":"confidence level in %","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0.5","ymax":"1","removeOlder":"1","removeOlderPoints":"100","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":840,"y":220,"wires":[[]]},{"id":"4833d854.b88de8","type":"function","z":"c316c9fe.df0658","name":"confidence level","func":"msg.payload = msg.payload.confidence;\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":220,"wires":[["bdff2b00.efc188"]]},{"id":"7f5b4faa.19048","type":"ui_gauge","z":"c316c9fe.df0658","name":"","group":"e49c42b1.2c9b5","order":2,"width":"0","height":"0","gtype":"compass","title":"Demo Actuator","label":"units","format":"{{value}}","min":"1","max":"5","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":780,"y":300,"wires":[]},{"id":"d13713ca.1cede","type":"ui_text_input","z":"c316c9fe.df0658","name":"","label":"","tooltip":"","group":"e49c42b1.2c9b5","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":520,"y":300,"wires":[["7f5b4faa.19048"]]},{"id":"3e1bd8dd.bab6c8","type":"comment","z":"c316c9fe.df0658","name":"Put here your \"Actuator/Action\"","info":"This nodes are optional and for future purpose or for exploring other possibilities with ml5.js","x":830,"y":160,"wires":[]},{"id":"e49c42b1.2c9b5","type":"ui_group","z":"","name":"Default","tab":"dad05a0c.1d8a98","order":1,"disp":true,"width":"10","collapse":false},{"id":"dad05a0c.1d8a98","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":true}]
